@import "tailwindcss";

/* ROOT COLORS */
:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

/* BODY */
html, body {
  background: var(--background);
  color: var(--foreground);
}

/* INPUT FIX */
input, textarea, select {
  color: #111827 !important;
  background: #f3f4f6;
  caret-color: #111827 !important;
}

/* DARK INPUT */
.dark input,
.dark textarea,
.dark select {
  color: #f9fafb !important;
  background: #374151;
}

/* DARK FLOATING ZOOM BUTTONS */
.react-flow__controls {
  background: rgba(17, 24, 39, 0.85) !important;
  border: 1px solid #374151 !important;
  border-radius: 12px !important;
  backdrop-filter: blur(6px);
}

.react-flow__controls-button {
  background: transparent !important;
  color: white !important;
}

.react-flow__controls-button svg {
  fill: white !important;
}

.react-flow__controls-button:hover {
  background: #374151 !important;
}

/* FIGMA STYLE DOT GRID */
.react-flow__pane {
  background:
    radial-gradient(circle at 1px 1px, #e5e7eb 1px, transparent 0);
  background-size: 24px 24px;
}

.react-flow__pane {
  cursor: crosshair !important;
}
